<?xml version="1.0" encoding="utf-8" ?>

<Fairplay2>
	<!--  The circuit file to compute -->
	<Circuit>IllegalImages-compiled.sfdl</Circuit>

	<!-- List of IP's of the computers involved in the computation. -->
	<Participates>
		<!-- List of players (IP or RP) -->
		<Players>
			<Player NameInFunction="imageHoster[0]">172.17.0.2</Player>
			<Player NameInFunction="imageHoster[1]">172.17.0.3</Player>
			<Player NameInFunction="imageHoster[2]">172.17.0.4</Player>
			<Player NameInFunction="dropbox">172.17.0.5</Player>
			<Player NameInFunction="user">172.17.0.6</Player>
		</Players>
		<!-- List of IP of the CP -->
		<ComputationPlayers>
			172.17.0.2, 172.17.0.3, 172.17.0.4, 172.17.0.5, 172.17.0.6
		</ComputationPlayers>
	</Participates>

	<Security>
		<Port>
			12347
		</Port>
		<!-- The security parameter to use -->
		<K>
			64
		</K>
		<!-- The prime number to use as modulo, modulo % 4 should be equal 3 -->
		<Modulo>
			353868019
		</Modulo>
		<!-- The protocol to use for the Pseudo Random Generator -->
		<PRGProtocol>
			SHA1PRNG
		</PRGProtocol>
		<!-- The certificates to use for the SSL connection -->
		<Certificate>
			<KeyStore>
				certificate/node1.keystore
			</KeyStore>
			<KeyStorePassword>
				changeme
			</KeyStorePassword>
			<TrustStore>
				certificate/custom.truststore
			</TrustStore>
			<TrustStorePassword>
				trustchangeme
			</TrustStorePassword>
		</Certificate>
	</Security>
</Fairplay2>
